/* fixed social*/
#fixed-social {
    position: fixed;
    top: 200px;
}

#fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
}

#fixed-social a:hover>span {
    visibility: visible;
    left: 41px;
    opacity: 1;
}

#fixed-social a span {
    line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}

.fixed-facebook {
    background-color: #00AAE5;
}

.fixed-facebook span {
    background-color: #00AAE5;
}

.fixed-twitter {
    background-color: #7D3895;

}

.fixed-twitter span {
    background-color: #7D3895;
}

.fixed-gplus {
    background-color: #00AF54;

}

.fixed-gplus span {
    background-color: #00AF54;
}

.fixed-linkedin {
    background-color: #FFC41E;

}

.fixed-linkedin span {
    background-color: #FFC41E;
}

.fixed-instagrem {
    background-color: #ED2B29;

}

.fixed-instagrem span {
    background-color: #ED2B29;
}

.fixed-tumblr {
    background-color: #EB1471;

}

.fixed-tumblr span {
    background-color: #EB1471;
}

.fixed-dribble {
    background-color: #8a1145;

}

.fixed-dribble span {
    background-color: #8a1145;
}

/*end fixed social*/